
.login-input {
  font-size: 25px; /* Ajusta el tamaño de la fuente según sea necesario */
  width: 100%; /* Ajusta el ancho según sea necesario */
}

.login-input::placeholder {
  font-size: 16px; /* Ajusta el tamaño de la fuente del placeholder según sea necesario */
}

.mb-3-login {
  margin-bottom: 1.0rem; /* Ajusta el margen inferior según sea necesario */
  font-size: 20px;
  width: 100%; /* Ajusta el ancho según sea necesario */
}

/* General Styles */
.input-center {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  width: 100%; /* Ajusta el ancho según sea necesario */
}