.productos-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  
}

.producto-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.producto-item img {
  max-width: 20%;
  height: auto;
  border-radius: 5px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #cc0000;
}