.whatsapp-float {
  position: fixed;
  width: 250px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.whatsapp-icon {
  font-size: 30px;
  margin-right: 10px;
}

.whatsapp-text {
  font-size: 16px;
}